
.data-display {
    background-color: #f4f4f4;
    color: #282c34;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .error {
    color: red;
  }

 
  .user-list {
    list-style-type: none;
  }
  
  .user-list li {
    background-color: #f4f4f4;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .label {
    font-weight: bold;
  }

  